/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: 'Epilogue';
    margin: 0;

    background-color: hsl(0, 0%, 98%);
}

/* Header */

header{
    display: flex;
    position: relative;
    align-items: center;
    font-size: 1.125rem;
    color: hsl(0, 0%, 41%);

    padding: 2rem 2.5rem;
}

.logo{
  margin-right: 3.9rem;
  z-index: 999;
}

.nav{
  display: inline-flex;
  flex-grow: 4;
  justify-content: space-between;
}

ul{
    float: right;
    list-style-type: none;
    padding-left: 0;
}

li{
    display: inline;
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:visited{
    color: hsl(0, 0%, 41%);
}

li + li {
    padding-left: 2rem;
}

li.dropdown-title{
  position: relative;
}

ul.dropdown{
  min-width: auto;
  display: none;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  z-index: 1;

  list-style: none;

  position: absolute;
  padding: 1rem;
  right: 0;
}

.features{
  width: 9.5rem;
}

.company{
  width: 7.65rem;
  left: 2rem;
}

ul.dropdown li{
  display: block;
  padding: 0;
  margin: 0;

  padding: 0.3rem 0;
}

ul.dropdown li a{ 
  display: inline;
  text-align: left;
}

ul li.dropdown-title:hover ul.dropdown:not(.nohover){
  display: block;
}

ul.dropdown li:hover{
  display: block;
}

a:hover{
  border-color: black;
  color: black;
}

ul.dropdown li img{
  display: inline;
}

.auth{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.register{
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: hsl(0, 0%, 41%);
    padding: 0.5rem 1.5rem;
}

.menu,
.close{
  display: none;
  position: absolute;
  right: 1rem;
  color: black;
  cursor: pointer;

  transition: right 0.4s;
  z-index: 5;
}

.close{
  right: -100%;
}

.links{
  z-index: 5;
}



/* Main */

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 2rem;

    margin: 0 10.625rem;
    margin-top: 2rem;
}

.call-to-action{
    display: flex;

    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

h1{
    font-weight: 700;
    font-size: 5rem;
    color: hsl(0, 0%, 8%);

    margin-top: 1em;
    margin-bottom: 0.5em;
}

p{
    font-size: 1.5rem;
    color: hsl(0, 0%, 41%);

    padding-right: 5rem;
}

.learn-more{
  display: inline-block;
  align-self: flex-start;

  color: hsl(0, 0%, 98%);
  font-size: 1.2rem;
  font-weight: 700;

  background-color: hsl(0, 0%, 8%);
  border-radius: 1rem;
  border-style: solid;
  border-color: hsl(0, 0%, 8%);

  margin-top: 2.5rem;
  padding: 0.5rem 1.5rem;
}

.learn-more:visited{
  color: hsl(0, 0%, 98%);
}

.learn-more:hover{
  color: hsl(0, 0%, 8%);
  background-color: white;
}

.client-logos{
    height: auto;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 2rem;

    gap: 3rem;
}

.hero-img-container{
  width: 30rem;
  height: 40rem;

  display: flex;
  justify-content: flex-end;

  flex-basis: 30rem;
}

.hero-img{
  content: url(./images/image-hero-desktop.png);
  justify-self: center;
}

ul.show-dropdown{
  position: static;
  display: block;

  background-color: hsl(0, 0%, 98%);
  box-shadow: none;
  float: none;
}

/*Mobile Resolution*/

@media (max-width: 900px) {

  /* Header */

  header{
    padding: 1.5rem 1rem;
    justify-content: space-between;
  }

  .menu{
    display: block;
  }

  .backDrop{
    display: none;
    opacity: 0;
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;

    z-index: 3;
  }

  .darken{
    display: block;
    opacity: 0.65;
  }

  .nav{
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    right: -100%;
    top: 0;
    background-color: hsl(0, 0%, 98%);
    width: 65%;
    height: 100%;
    padding: 3rem 2rem 0;
    transition: right 0.4s;
    z-index: 4;

    filter: brightness(100%);
    backdrop-filter: brightness(100%);
  }

  .auth{
    flex-direction: column;
  }

  .register{
    align-self: stretch;
    text-align: center;
  }

  .ul{
    display: flex;
    flex-direction: column;
  }

  .links{
    display: flex;
    flex-direction: column;
  }

  li + li{
    padding-left: 0;
  }

  .show-menu{
    right: 0;
  }

  .menu,
  .close{
    display: block;
  }

  /* Main */

  .hero-img{
    content: url(./images/image-hero-mobile.png);
  }

  .call-to-action{
    align-items: center;
    margin: 1.2rem;
  }

  h1{
    font-size: 2rem;
    text-align: center;
    align-self: center;

    margin-top: 1rem;
    margin-bottom: 0;
  }

  p{
    font-size: 1.2rem;
    text-align: center;
    align-self: center;

    padding: 0;
  }

  .learn-more{
    align-self: center;
    margin-top: 2rem;
  }

  main{
    margin: 0;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  .client-logos{
    gap: 1.1rem;
  }

  .client-logos img{
    max-width: 70px;
    height: auto;
  }

  .hero-img-container{
    width: 375px;
    max-height: 17.625rem;
    order: -1;
    justify-content: center;
  }
  
  .hero-img{
    width: 100%;
    height: 17.625rem;
  }

}