/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: 'Epilogue';
    margin: 0;

    background-color: hsl(0, 0%, 98%);
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.125rem;
    color: hsl(0, 0%, 41%);

    padding: 2rem 2.5rem;
}

.links{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 3.9rem;
}

ul{
    float: right;
    list-style-type: none;
}

li{
    display: inline;
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:visited{
    color: hsl(0, 0%, 41%);
}

li + li {
    padding-left: 2rem;
}

.register{
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: hsl(0, 0%, 41%);
    padding: 1rem 1.5rem;
}

/* Main */

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    margin: 0 10.625rem;
    margin-top: 2rem;
}

.call-to-action{
    display: flex;

    flex-direction: column;
    flex: 1;
    

    justify-content: space-between;
}

h1{
    font-weight: 700;
    font-size: 5rem;

    margin-top: 1em;
    margin-bottom: 0.5em;
}

p{
    font-size: 1.5rem;
    color: hsl(0, 0%, 41%);

    padding-right: 5rem;
}

.learn-more{

  display: inline-block;

  color: hsl(0, 0%, 98%);
  font-size: 1.2rem;
  font-weight: 700;

  background-color: black;
  border-radius: 1rem;

  margin-top: 2.5rem;
  padding: 0.5rem 1.5rem;
}

.learn-more:visited{
  color: hsl(0, 0%, 98%);
}

.client-logos{
    height: auto;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 3rem;
}

.hero-img-container{
  width: 30rem;
  height: 40rem;

  display: flex;
  justify-content: flex-end;

  flex-basis: 30rem;
}

.hero-img{
  justify-self: center;
}